// blog page styling

// header
.blogPage header {
    background-image: url(../assets/blog-image-1.jpg);
}

.blogPage header h2 {
  padding: 100px 0;
}

//main
.blogMain {
  background: $camogreen;
}

.blogMainFlexbox {
  display: flex;
  gap: 10%;
}

// section: blog post
.blogMainFlexbox>section {
  width: 70%;
  position: relative;
  top: -80px;
}

.blogSection img {
    box-shadow: 15px 15px $mudgreen;
}

.blogSection>div:first-child {
  margin-right: 15px;
}

.blogSection>div:nth-child(2) {
  border-right: 5px solid $mudgreen;
  border-bottom: 5px solid $mudgreen;
  padding: 5% 10%;
}

.blogMainFlexbox>aside {
  margin-top: 100px;
  width: 20%;
}

// section: comments
.commentsSection {
  padding: 5% 5% 5% 10%;
}

.comment {
  padding-left: 100px;
  position: relative;
}

.comment::before {
  content: "";
  background-size: cover;
  position: absolute;
  width: 75px;
  height: 75px;
  left: 0;
}

.comment1::before {
  background-image: url(../assets/comment-image.jpg);
}
.comment2::before {
  background-image: url(../assets/comment-image2.jpg);
}

.comment1 {
  margin-bottom: 25px;
}

// comment form
.blogMain form {
  margin-top: 50px;
  margin-left: 10%;
}

// aside
.blogMain aside>div:first-child {
  padding-left: 15px;
}

.blogMain aside>div:nth-child(2) {
  background-color: $mudgreen;
  padding: 0 15px;
}

.blogMain aside img {
  box-shadow: -15px 15px $mudgreen;
}

.blogMain aside h4 {
  font-size: 2rem;
  line-height: 2rem;
  padding: 10px 0 5px 0;
}

.blogMain ul {
  padding: 0 20px 10px 20px;
  margin: 0;
}

.blogMain li {
  line-height: 1.5rem;
  margin-bottom: 10px;
}

.blogMain li::marker {
  color: $marigold;
}


@media (max-width: 992px){
  .blogMainFlexbox {
    flex-direction: column;
  };

  .blogMainFlexbox>section {
    width: 90%;
  }

  .blogMainFlexbox>aside {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 10%;
  };
  

  form.formComment input {
    width: 100%;
  };
}