@import url("https://fonts.googleapis.com/css2?family=Dokdo&family=Lato:wght@300;400;700&display=swap");

/* font variables */
$fontDokdo: 'Dokdo', cursive;
$fontLato: 'Lato', sans-serif;

/* 1 rem = 10 px Font Size */
html { font-size: 62.5%; }
body { 
  font-family: $fontLato;
  color: $iceblue;
  font-size: 1.6rem;
}

h1, h2, h3, h4, .logo, button {
  font-family: $fontDokdo;
  font-weight: normal;
} 

h1, h2, h3, h4, .logo {
  color: $marigold;
}

h1 {
  font-size: 8.5rem;
  line-height: 6.5rem;
}

h2 {
  font-size: 7.5rem;
  line-height: 6.96rem;
  letter-spacing: 1.09rem;
}

h3 {
  font-size: 4.5rem;
  line-height: 5.8rem;
  letter-spacing: 0.1rem;
}

h4 {
  font-size: 4rem;
  line-height: 5.8rem;
  letter-spacing: 0.43rem;
}

.logo {
  font-size: 4.15rem;
  text-decoration: none;
}

p {
  font-size: 2rem; 
  line-height: 3.2rem;
  letter-spacing: 0.2rem;
  font-weight: 400;
}

li a {
  color: $iceblue;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700;
}

button {
  color: $iceblue;
  font-size: 3rem;
}

small {
  font-size: 1.6rem;
}

.fontColorMarigold {
  color: $marigold;
}

.fontColorIceblue {
  color: $iceblue;
}

form input, textarea,
form input::placeholder, textarea::placeholder {
  color: $iceblue;
  font-size: 2rem;
  opacity: 1;
}


@media (max-width: 850px){
h1 {
  font-size: 6rem;
  line-height: 5rem;
}

h2 {
  font-size: 5.5rem;
  line-height: 6.96rem;
  letter-spacing: 1.09rem;
}

h3 {
  font-size: 3.5rem;
  line-height: 3rem;
  letter-spacing: .49rem;
}

h4 {
  font-size: 3rem;
  line-height: 3rem;
  letter-spacing: 0.43rem;
}

.logo {
  font-size: 3rem;
  text-decoration: none;
}

p {
  font-size: 1.6rem; 
  line-height: 2.5rem;
  letter-spacing: 0.2rem;
  font-weight: 400;
}


li a {
  color: $iceblue;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.4rem;
}

button {
  color: $iceblue;
  font-size: 1.6rem;
}

small {
  font-size: 1.6rem;
}

form input, textarea,
form input::placeholder, textarea::placeholder {
  font-size: 1.6rem;
}


}