/* 1 rem = 10 px Font Size */
html { font-size: 62.5%; }
body { 
  font-size: 1.6rem; 
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, .logo, button {
  font-family: 'Dokdo', cursive;
  font-weight: normal;
} 
