@import "partials/setup";
@import "partials/variables";
@import "partials/fonts";
@import "partials/wrapper";


h1, h2, h3, h4, p, .logo, button {
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  object-fit: cover;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button {
  background-color: $mudgreen;
  border: none;
  padding: 5px 10px;
}

// header

.homeHeader {
  background-image: url(../../assets/home-image-1.jpg);
  background-size: cover;
  background-position: center;;
}

.homeHeader>div:first-child {
  margin-bottom: 50px;
}

.topBar {
  display: flex;
  align-items: center;
}

.topBar ul{
  flex: 1 0 50%;
  display: flex;
  justify-content: flex-end;
}

.topBar li {
  margin: 0 10px;
}

.headerFeature {
  display: flex;
}
.headerFeature>* {
  height: 100%;
}

.headerFeature>div:first-child{
  width: 50%;
  position: relative;
  bottom: -50px;
  left: -10%;
}

.headerFeature>div:last-child{
  width: 50%;
  position:relative;
  left: -7%;
  top: 70px;
}

.headerFeature img{
  filter: sepia(100%);
}

// Main section

// alternate background colors
.homeMain section:nth-child(2n+1){
  background-color: $camogreen;
}

.homeMain section:nth-child(2n+2){
  background-color: $charcoal;
}

// section: New adventure

.newAdventure>div {
  padding: 150px 0;
  display: flex;
}

.newAdventure .leftContainer {
  width: 85%;
  padding-right: 50px;
}

.newAdventure img {
  box-shadow: -15px 15px $mudgreen;
}

.newAdventure button {
  margin-top: 10px;
}


// section: three images

.threeImgs ul {
  display: flex;
  padding: 100px 0;
  gap: 30px;
}

//section: benefits

.benefits ul {
  display: flex;
  flex-wrap: wrap;
  padding: 100px 0;
}

.benefits li {
  flex: 1 0 50%;
  padding-left: 5%;
  margin-bottom: 5%;
}