html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* 1 rem = 10 px Font Size */
html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  color: #FAFFFE;
}

h1, h2, h3, h4, .logo, button {
  font-family: "Dokdo", cursive;
  font-weight: normal;
}

h1, h2, h3, h4, .logo {
  color: #FFC600;
}

h1 {
  font-size: 8.5rem;
  line-height: 6.5rem;
}

h2 {
  font-size: 10.5rem;
  line-height: 6.96rem;
  letter-spacing: 1.09rem;
}

h3 {
  font-size: 4.5rem;
  line-height: 5.8rem;
  letter-spacing: 0.49rem;
}

h4 {
  font-size: 4rem;
  line-height: 5.8rem;
  letter-spacing: 0.43rem;
}

.logo {
  font-size: 4.15rem;
  text-decoration: none;
}

p {
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 0.2rem;
  font-weight: 400;
}

nav {
  font-size: 2rem;
  line-height: 2.9rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

li a {
  color: #FAFFFE;
  text-decoration: none;
  text-transform: uppercase;
}

button {
  color: #FAFFFE;
  font-size: 3rem;
}

.wrapper {
  width: 85%;
  margin: 0 auto;
  max-width: 1080px;
}

h1, h2, h3, h4, p, .logo, button {
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button {
  background-color: #555F02;
  border: none;
  padding: 5px 10px;
}

.homeHeader {
  background-image: url(../../assets/home-image-1.jpg);
  background-size: cover;
  background-position: center;
}

.homeHeader > div:first-child {
  margin-bottom: 50px;
}

.topBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topBar ul {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.topBar li {
  margin: 0 10px;
}

.headerFeature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.headerFeature > * {
  height: 100%;
}

.headerFeature > div:first-child {
  width: 50%;
  position: relative;
  bottom: -50px;
  left: -10%;
}

.headerFeature > div:last-child {
  width: 50%;
  position: relative;
  left: -7%;
  top: 70px;
}

.headerFeature img {
  -webkit-filter: sepia(100%);
          filter: sepia(100%);
}

.homeMain section:nth-child(2n+1) {
  background-color: #1E140E;
}

.homeMain section:nth-child(2n+2) {
  background-color: #262725;
}

.newAdventure > div {
  padding: 150px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.newAdventure .leftContainer {
  width: 85%;
  padding-right: 50px;
}

.newAdventure img {
  -webkit-box-shadow: -15px 15px #555F02;
          box-shadow: -15px 15px #555F02;
}

.newAdventure button {
  margin-top: 10px;
}

.threeImgs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 0;
  gap: 30px;
}

.benefits ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 100px 0;
}

.benefits li {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  padding-left: 5%;
  margin-bottom: 5%;
}